html{
	border: 5px;
}

p{
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;	
}

body {
  font-family: Tahoma, Geneva, sans-serif;
	max-width: 1170px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
  background: #f7f8fa;
  color: #333; 
}
header{
	padding: 10px;
	text-align: center;
}
h1{ 
	color: #0969da;
}
h2{
	color: green;
}
h3{
	margin-block-start: 1em;
	margin-block-end: 0.5em;	
}

aside {
	background: #f0f0f0;
	padding: 5px;
	width: 120px;
	float: right;
	height: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

article {
	background: white;
	margin-right: 142px;
	padding-top: 5px;
  padding-bottom: 10px;	
}


.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  margin-top: 5px;
	margin-right: 142px;
}
