html{
	border: 5px;
}

p{
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;	
}

body {
  font-family: Tahoma, Geneva, sans-serif;
	max-width: 1700px;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
  padding-left: 220px;
	padding-right: 1rem;
  background: #f7f8fa;
  color: #333; 
}
header{
	/*border-radius: 12px;*/
  /*box-shadow: 1px 3px 5px rgba(1,1,1,0.5);*/ /*тень*/
	/*background: #8cd8ff;*/ /*f7f7f5*/
	/*text-align: center;	*/
	padding-left: 2rem;
	padding-bottom: 1rem
}
footer{
	background-image: url('logo3.png');
	background-repeat: repeat;	
}

h1{ 
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	color: #0969da;
	/*text-align: center;*/
}
h2{
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	color: green;
	/*text-align: center;	*/
}
h3{
	padding-left: 1.5rem;
	margin-block-start: 0.5em;
	margin-block-end: 0.5em;
	color: #8f3808;
	/*text-align: center;	*/
}

article {
	background: #fffffc;
	margin-right: 1rem;
	padding-top: 5px;
  padding-bottom: 1rem;	
}

blockquote{
	background: #fffaf0;
}

aside {
	background: #f0f0f0;
	padding: 5px;
	width: 220px;
	float: right;
	height: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
}

/*img{
	max-width: 100%;
	height: 100%;
}*/

.card {
  background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 3px 5px rgba(0,0,0,0.2);
  margin-top: 5px;
	margin-right: 142px;
}

dd {
	font-style: italic; /* Курсивное начертание текста */
}

dt {
	margin-top: 1em; /* Отступ сверху */
}

/*  при уменьшении ширины окна до 768 пикселей:
	- убрать боковую панель
	- убрать панель навигации
	- уменьшить padding-left
 */
@media (max-width: 768px) {
	.sidebar {
		display: none;
	}
	img {
		display: none;
	}
	aside	{
		display: none;
	}
	body {
		padding-left: 10px;	
	}
	article {
		margin-right: 10px;
	}
}

/* Боковая панель */
.sidebar {
	height: 100%;			/* Полная высота: удалите это, если вы хотите "авто" высота */
	width: 200px;			/* Установите ширину боковой панели */
	position: fixed;	/* Фиксированная боковая панель (остается на месте при прокрутке) */
	z-index: 1;				/* Остается поверх всего */
	top: 0;						/* Остается сверху */
	left: 0;
	background: #f0f0f0;	/* серый*/
	overflow-x: hidden;		/* Отключить горизонтальную прокрутку */
	padding-top: 20px;
}

/* меню навигации */
nav{
	height: auto;	/* высота */
	width: auto;		/*ширина*/
	background: #fff3cc; /* e0ffff ; f7f7f5*/
	margin: 6px;
	padding-top: 4px;
	padding-bottom: 8px;
}
/* Ссылки в меню навигации */
nav a {
  padding: 2px 0px 0px 16px;	/* сверху снизу справа слева? */
  text-decoration: none;
  font-size: 20px;
  color: #2F4F4F;
  display: block;
}
/* При наведении курсора мыши на навигационные ссылки измените их цвет */
nav a:hover {
  color: #5d4073;
}

.logo{
	height: 32px;	/* высота */
	width: auto;		/*ширина*/
	background: #fffaf0;
	margin: 6px;
	padding: 8px;
}

.news{
	height: auto;	/* высота */
	width: auto;		/*ширина*/
	background: #7ea9e6; /* 7cc6c7; 83c3d5*/
	margin: 6px;
	padding-top: 4px;
	padding-bottom: 8px;
	font-size: 16px;
}

/* Настройки таблицы */
.layoutTD {
	width: 100%; /* Ширина всей таблицы */
	border: 1px dashed;
	border-color: blue;
	cellpadding="4";
}

td {
	/*vertical-align: top;  Вертикальное выравнивание в ячейках */
	padding: 5px; /* Поля вокруг ячеек */
}

.leftcol {
	width: 50%; /* Ширина левой колонки */
	background: #fffffc; /* Цвет фона левой колонки */
	border: 1px solid #e6e6e6; /* Параметры рамки */
}
.rightcol {
	width: 50%; /* Ширина правой колонки */
	background: #f0f0f0; /* Цвет фона правой колонки */
	border: 1px solid #e6e6e6; /* Параметры рамки */
}
.spacer {
	width: 10px; /* Расстояние между колонками */
}
.unioncol{
	border-top: 1px solid #ff0000;
	background: #ebfff5;
}

/* Настройки таблицы для разметки*/
.markupTD{
	width: 100%; /* Ширина всей таблицы */
	background: white;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
}
td.leftmark{
	width: 180px; /* Ширина колонки */
	background: #f0f0f0;
}
td.rightmark{
	width: auto; /* Ширина колонки */
	background: #fffffc;
}
.spacemark{
	width: 5px; /* Расстояние между колонками */
}